<div class="container">
  <h1>CART</h1>
  <h2 *ngIf="this.sharedState.cart.cartItems.length == 0">Cart is Empty</h2>
  <app-cart-item
    *ngFor="let item of this.sharedState.cart.cartItems"
    [id]="item.id"
    [isbn_13]="item.book!.isbn_13"
    [publicId]="item.book!.publicId"
    [author]="item.book!.author"
    [price]="item.book!.price"
    [title]="item.book!.title"
    [subTitle]="item.book!.subTitle"
    [quantity]="item.quantity"
  ></app-cart-item>
  <h3>Total Price : {{ this.sharedState.cart.totalPrice }} ₺</h3>
  <ng-container *ngIf="this.sharedState.cart.cartItems.length > 0">
    <button class="button-base" id="payment" (click)="navigateToPaymentPage()">
      Make Payment
    </button>
  </ng-container>
</div>
