div.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.sub-container {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  border-radius: 25px;
}

h2 {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

input.email {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
}

input.password {
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 40px;
}

button {
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 40px;
}
