<div class="container">
  <h1>Make Payment</h1>
  <input placeholder="Name" [(ngModel)]="this.name" />
  <input placeholder="Surname" [(ngModel)]="this.surname" />
  <label>Card Informations</label>
  <input placeholder="Month" [(ngModel)]="this.expireMonth" />
  <input placeholder="Year" [(ngModel)]="this.expireYear" />
  <input placeholder="Card Number" [(ngModel)]="this.cardNumber" />
  <input
    placeholder="Card Holder's Name and Surname"
    [(ngModel)]="this.cardHolderName"
  />
  <input placeholder="CVC" [(ngModel)]="this.cvc" />
  <label>Delivery Informations</label>
  <textarea
    placeholder="Delivery Address"
    [(ngModel)]="this.address"
  ></textarea>
  <input placeholder="Country" [(ngModel)]="this.country" />
  <input placeholder="City" [(ngModel)]="this.city" />
  <button (click)="confirmPayment()">Confirm Payment</button>
</div>
