div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

img {
  width: 128px;
  height: 171px;
  margin-right: 30px;
  margin-bottom: 20px;
}

div.left {
  min-width: 130px;
}

div.right {
  min-width: 300px;
}

h5 {
  max-width: 350px;
}
