<div class="container">
  <div>
    <h2>BOOKSHOP APP</h2>
    <a
      *ngIf="!this.sharedState.isAuthenticated"
      routerLink="/login"
      class="first-link"
    >
      Login
    </a>
    <a
      *ngIf="!this.sharedState.isAuthenticated"
      routerLink="/register"
      class="second-link"
    >
      Register
    </a>
    <h4 *ngIf="this.sharedState.isAuthenticated">
      {{ this.sharedState.username }}
    </h4>
    <a
      *ngIf="this.sharedState.isAuthenticated"
      routerLink="/cart"
      class="first-link"
      >Cart</a
    >
    <a
      *ngIf="this.sharedState.isAuthenticated"
      routerLink="/orders"
      class="second-link"
      >Orders</a
    >
    <button *ngIf="this.sharedState.isAuthenticated" (click)="signOut()">
      Logout
    </button>
  </div>
  <main>
    <app-product
      *ngFor="let book of allBooks"
      [id]="book.id"
      [isbn_13]="book.isbn_13"
      [publicId]="book.publicId"
      [author]="book.author"
      [price]="book.price"
      [title]="book.title"
      [subTitle]="book.subTitle"
    ></app-product>
  </main>
</div>
