<div class="container">
  <div>
    <h2>YYÜ KİTABEVİ</h2>
    <a *ngIf="!this.sharedState.isAuthenticated" routerLink="/login">
      Giriş Yap
    </a>
    <a *ngIf="!this.sharedState.isAuthenticated" routerLink="/register">
      Kayıt ol
    </a>
    <h4 *ngIf="this.sharedState.isAuthenticated">
      {{ this.sharedState.username }}
    </h4>
    <a *ngIf="this.sharedState.isAuthenticated" routerLink="/cart">Sepetim</a>
    <a *ngIf="this.sharedState.isAuthenticated" routerLink="/orders"
      >Siparişlerim</a
    >
    <button *ngIf="this.sharedState.isAuthenticated" (click)="signOut()">
      Çıkış
    </button>
  </div>
  <main>
    <app-product
      *ngFor="let book of allBooks"
      [id]="book.id"
      [isbn_13]="book.isbn_13"
      [publicId]="book.publicId"
      [author]="book.author"
      [price]="book.price"
      [title]="book.title"
      [subTitle]="book.subTitle"
    ></app-product>
  </main>
</div>
