div.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.sub-container > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
